# Ignore Terraform state and backups
*.tfstate
*.tfstate.*
.crash
.terraform/
.terraform.lock.hcl

# Ignore Terraform variable files with secrets
*.tfvars
*.tfvars.json

# Ignore override and plan files
terraform.tfplan
*.override.tf
*.override.tf.json

# Optional: Ignore log/output files
*.log

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
